HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/node_modules
/contacts_react/.pnp
/contacts_react/.pnp.js

# testing
/contacts_react/coverage

# production
/contacts_react/build

# misc
/contacts_react/.DS_Store
/contacts_react/.env.local
/contacts_react/.env.development.local
/contacts_react/.env.test.local
/contacts_react/.env.production.local

/contacts_react/npm-debug.log*
/contacts_react/yarn-debug.log*
/contacts_react/yarn-error.log*
/contacts_react/node_modules/
